body{
  background-image: url("white_background.jpg");
  background-color: #f4cfa4;
  text-align: center;
}
p{
  font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  color: #592a10;
  margin: 20px 10px;
  padding: 20px 25px;
  text-align: center;
}
.drone {
    text-align: center; 
}
.aerospace {
    text-align: center
}
.artificial-intelligent {
    text-align: center
}
.autonomous-car {
    text-align: center
}
ul{
    list-style-type: none;  
    text-align: center;
}
#return-back a.return-class{
    list-style-type: none outside none;
    font-size: 24px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    text-align: center;
    color: #30251e;
    font-weight: 700;
    text-decoration: none;
}
#picture a.picture-class{
    list-style-type: none outside none;
    font-size: 24px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    text-align: center;
    color: #30251e;
    font-weight: 700;
    text-decoration: none;
}  
