body{
  background-color: #592a10;
}
p{
  background-color: #f2c398;
  font-family: Verdana, "Swiss", "Ubuntu", fantasy, Arial, "Cambria";
  font-size: 24px;
  color: #592a10;
  margin: 20px 10px;
  padding: 20px 25px;
  text-align: center;
}
.real-time-systems {
    border-radius: 40%;
    text-align: center;
}
.drone {
    border-radius: 40%;
    text-align: center; 
}
.virtual-reality {
    border-radius: 40%;
    text-align: center
}
.aerospace {
    border-radius: 40%;
    text-align: center
}
.artificial-intelligent {
    border-radius: 40%;
    text-align: center
}
.security {
    border-radius: 40%;
    text-align: center
}
.autonomous-car {
    border-radius: 40%;
    text-align: center
}
ul{
    list-style-type: none;  
    text-align: center;
}
#return-back a.return-class{
    list-style-type: none outside none;
    font-size: 24px;
    font-family: Verdana, "Swiss", "Ubuntu", fantasy, Arial, "Cambria";
    text-align: center;
    color: #301404;
    font-weight: bold;
    text-decoration: none;
}
#picture a.picture-class{
    list-style-type: none outside none;
    font-size: 24px;
    font-family: Verdana, "Swiss", "Ubuntu", fantasy, Arial, "Cambria";
    text-align: center;
    color: #301404;
    font-weight: bold;
    text-decoration: none;
}  
