body{
  background-image: url("white_background.jpg");
  background-color: #f4cfa4;
  text-align: center;
}
h1{
  text-align: center;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}
