body {
  background-color: antiquewhite;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: alpha(opacity=70);
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
#menu{
    margin: 0;
}
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#layout {
  position: relative;
  left: 3px;
  padding-left: 0;
}
.content {
  font-size: 10px;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 20px;
  line-height: 1.4em;
}
.header {
  margin: 10;
  color: #2b2125;
  text-align: center;
  font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", serif;
  padding: 0.5em 2em 0.1em 1em;
  border-bottom: 0.1px solid #eda883;
  text-align: center;
}
.header h1 {
  margin: 2.5em 0 0.1em 0;
  color: #422203;
  font-family: "Copperplate", "Copperplate Gothic Light", fantasy;
  font-size: 3.3em;
  font-weight: 900;
  text-align: center;
}
.header h2 {
  font-weight: 100;
  font-size: 10px;
  font-family: "Copperplate", "Copperplate Gothic Light", fantasy;
  color: #422203;
  padding: 0;
  margin-top: 0;
  text-align: center;
}
.content-paragraph img {
  max-width: 100%;
}
p1{
  color: #633a24;
  list-style-type: none;
  font-weight: 400;
  font-family: "Rockwell", "Courier Bold", "Courier", "Georgia", "Times", "Times New Roman", Serif;
  font-size: 11px;
  text-align: center;
}
p2{
  color: #381605;
  list-style-type: none;
  font-family: "Rockwell", "Courier Bold", "Courier", "Georgia", "Times", "Times New Roman", Serif;
  font-size: 12px;
  text-align: center;
}
.content-paragraph {
  color: #56260e;
  list-style-type: none;
  font-family: "Rockwell", "Courier Bold", "Courier", "Georgia", "Times", "Times New Roman", Serif;
  font-size: 10px;
  text-align: center;
}
.content-subhead {
  margin: 5px 0 20px 0;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #422813;
}
hr { 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-color: #CEA69A;
}  
#menu {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: #421b05;
  overflow-y: auto;
}
#menu a {
  float: left;
  color: #ffffff;
  border: none;
  padding: 2px 7px;
  font-size: 10px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
}
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
}
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background-color: #361811;
}
#menu .pure-menu-selected {
  text-decoration: none;
}
#menu .pure-menu-selected a {
  color: #fff;
}
#menu .pure-menu-heading {
  text-decoration: none;
  font-family: "Glocester", "Baskerville", "Arial", "Swiss", "Ubuntu", Sans-serif;
  color: #f9ede8;
  margin: 0;
}
.pure-menu-item a {
  text-decoration: none;
}
.pure-menu-item {
  float: left;
  margin-left = -30px;
  list-style-type: none;
}
.menu-link {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffd2c9;
  font-family: "Open Sans", "Swiss", "Ubuntu", "Arial", Sans-serif;
  font-size: 8px;
  height: auto;
}
.menu-link:hover,
.menu-link:focus {
  background: #352001;
}
.menu-link span {
  position: relative;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
}
.menu-link span:before,
.menu-link span:after {
  position: absolute;
}
ul{
  list-style-type: none;
  }
@media screen and (device-width:760px) {
  body{
    background-color: #ecb99b;
  }
}
@media screen and (min-width: 480px) {
  .header,
  .content {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (max-width: 520px) {
  body {
    background-color: #ecb99b;
  }
  .mainpic {
   height: 280px;
   width: 160px; 
  } 
}
@media screen and (max-width: 640px) {
  .header h1 {font-size: 1.4em;}
}
