body {
  background-color: #f4cfa4;
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#layout {
  float: left;
  position: relative;
  left: 2px;
  padding-left: 0;
}
#layout.active #menu {
  float: left;
  left: 150px;
  width: 150px;
  display: block;
}
#layout.active .menu-link {
  float: left;
  left: 150px;
  display: block;
}
.content {
  float: right;
  font-size: 11px;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 20px;
  line-height: 1.4em;
}
.header {
  float: right;
  margin: 10;
  color: #2b2125;
  text-align: center;
  font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", serif;
  padding: 0.5em 2em 0.1em 1em;
  border-bottom: 0.1px solid #eda863;
  text-align: center;
}
.header h1 {
  float: right;
  margin: 0 0 0.1em 0;
  color: #b25631;
  font-family: "Didot", "Copperplate", "Copperplate Gothic Light", fantasy;
  font-size: 4.5em;
  font-weight: 300;
  text-align: center;
}
.header h2 {
  float: right;
  font-weight: 200;
  font-size: 18px;
  font-family: "Cambria", "fantasy", "Palatino";
  color: #ed8763;
  padding: 0;
  margin-top: 0;
  text-align: center;
}
p1{
  float: right;
  color: #441d09;
  list-style-type: none;
  font-family: "Baskerville old face", "Garamond", "Times New Roman", serif;
  font-size: 16px;
  text-align: center;
}
p2{
  float: right;
  color: #381605;
  list-style-type: none;
  font-family: "Rockwell", "Courier Bold", "Courier", "Georgia", "Times", "Times New Roman", serif;if;
  font-size: 12.5px;
  text-align: center;
}
.content-paragraph {
  float: right;
  color: #56260e;
  list-style-type: none;
  font-family: "Rockwell", "Courier Bold", "Courier", "Georgia", "Times", "Times New Roman", serif;;
  font-size: 11px;
  text-align: center;
}
.content-subhead {
  float: right;
  margin: 25px 0 20px 0;
  font-family: "Rockwell", "Courier Bold", "Courier", "Georgia", "Times", "Times New Roman", serif;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  color: #511;
}
#menu {
  float: left;
  cursor: pointer;
  text-align: center;
  margin-left: -150px;
  width: 150px;
  padding: 22px 8px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  /* so the menu or its navicon stays above all content */
  background: #422203;
  overflow-y: auto;
}
#menu a {
  float: left;
  color: #d98;
  border: none;
  font-family: "monaco", "Consolas", "Lucida Consola", monospace;
  font-size: 16px;
  padding: 0.5em 0 0.5em 0;
}
#menu .pure-menu,
#menu .pure-menu ul {
  float: left;
  border: none;
  background: transparent;
}
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  float: left;
  border-top: 1px solid #2d1706;
}
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  float: left;
  background: #361811;
}
#menu .pure-menu-selected {
  float: left;
  text-decoration: none;
}
#menu .pure-menu-selected a {
  float: left;
  color: #fff;
}

#menu .pure-menu-heading {
  float: left;
  text-decoration: none;
  font-size: 225%;
  font-family: "Glocester", "Baskerville", "Open Sans", "arial", sans-serif, "Swiss", "Ubuntu";
  color: #fff;
  margin: 0;
}
.pure-menu-item a{
  float: left;
  text-decoration: none;
}
.pure-menu-item{
  float: left;
  margin-left = -30px;
  margin-top: 10px;
  text-align: justify;
  list-style-type: none;
}
.menu-link {
  float: left;
  position: fixed;
  display: block;
  /* show this only on small mobile screens */
  top: 0;
  left: 0;
  background-color: #f4cfa4;
  font-family: "Open Sans", "arial", sans-serif, "Swiss", "Ubuntu";
  font-size: 8px;
  z-index: 10;
  height: auto;
  padding: 0.3em 1.2em;
}
.menu-link:hover,
.menu-link:focus {
  background: #352001;
}
.menu-link span {
  position: relative;
  display: block;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 50%;
  height: 0.1em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.4em;
  content: " ";
}

.menu-link span:after {
  margin-top: 0.4em;
}
ul{
  float: left;
  list-style-type: none;
  }
@media (min-width: 48em) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
  #layout {
    padding-left: 150px;
    /* left col width "#menu" */
    left: 0;
  }
  ul{
  float: left;
  list-style-type: none;
  }
  #menu {
    float: left;
    left: 150px;
  }
  .menu-link {
    float: left;
    position: fixed;
    left: 150px;
    display: block;
  }
  #layout.active .menu-link {
    float: left;
    left: 150px;
  }
}

@media (max-width: 48em) {
  #layout.active {
    float: left;
    position: relative;
    left: 150px;
  }
}

